.book-appointment .container {
  max-width: 1630px;
  padding: 30px 30px 0px;
  background: #DEE8DE;
  margin-top: -180px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

.appointment-form-holder {
  width: 100%;
  height: auto;
  padding: 45px 75px;
  border-radius: 30px;
  background-image: url("../assets/images/Home-1-exray-bg.png");
  background-color: #565655;

  display: flex;
  gap: 30px;
}

.appointment-left {
  width: 25%;
  height: 100%;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  padding-right: 20px;
  border-right: 1px solid #afafaf66;
}

.appointment-right {
  width: 75%;
  height: 100%;

  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.title-appointment {
  font-size: 44px;
  color: white;
  font-weight: 400;
  line-height: 3rem;
}

.happy-clients-holder {
  font-size: 12px;
  color: white;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.happy-clients-demo img {
  width: 105px;
  height: 35px;
}

span.booking-xl-text {
  color: white;
  font-size: 22px;
  font-weight: 400;
  text-transform: capitalize;
}

.appointment-right form{
    display: flex;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    gap: 20px;
    row-gap: 40px;

}

.appointment-right form input, select{
    padding: 0px 0px 5px 0px;
    background: none;
    border: none;
    outline: none;
    font-size: 20px;
    color: white;
    border-bottom: 1px solid white;
    width: 200px;
}

.appointment-right .slide-main-button {
    width: 100%;
    background: #9d7458;
    border: none;
    position: relative;
    height: 60px;
}

.appointment-right .slide-main-button .hero-slide-button-icon-holder {
    background-color: #868B7E;
    position: absolute;
    right: 10px;
    bottom: 10px;
}

