.expert-section {
  background-image: url("../assets/images/Home-1-exray-bg.png");
  background-color: #9d7458;
  background-position: center;
}

.expert-section .container {
  flex-direction: column;
  max-width: 1630px;
}

.expert-section {
  padding: 100px 20px;
}

.upper-title {
  flex-direction: column;
  padding-bottom: 60px;
}

.upper-title h2 {
  color: white;
  font-weight: 400;
  font-size: 44px;
  width: 600px;
  text-align: center;
  text-transform: capitalize;
}

.grey {
  color: #868d7b;
  font-weight: 600;
}

.expert-card-holder {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
}

.expert-card {
  width: 100%;
  height: 100%;
  background-color: #868d7b;
  padding: 40px 20px;
  border-radius: 8px;
  flex-direction: column;
  text-align: center;
  color: white;
  justify-content: start;
  gap: 20px;
}

.expert-card-title {
  font-size: 30px;
  font-weight: 400;
}
.expert-description {
  line-height: 1.5rem;
}
