.expert-section {
  background-image: url("../assets/images/Home-1-exray-bg.png");
  background-color: #9d7458;
  background-position: center;
}

.expert-section .container {
  flex-direction: column;
  max-width: 1630px;
}

.expert-section {
  padding: 100px 20px;
}

.upper-title {
  flex-direction: column;
  padding-bottom: 60px;
}

.upper-title h2 {
  color: white;
  font-weight: 400;
  font-size: 44px;
  width: 600px;
  text-align: center;
  text-transform: capitalize;
}

.grey {
  color: #868d7b;
  font-weight: 600;
}

.expert-card-holder {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
}

.expert-card {
  width: 100%;
  height: 100%;
  background-color: #868d7b;
  padding: 40px 20px;
  border-radius: 8px;
  flex-direction: column;
  text-align: center;
  color: white;
  justify-content: start;
  gap: 20px;
}

.expert-card-title {
  font-size: 30px;
  font-weight: 400;
}
.expert-description {
  line-height: 1.5rem;
}
.switch-content-holder {
  width: auto;
  /* max-width: 440px; */
  height: auto;
  background: #ffffff;
  border-radius: 50px;
  padding: 20px 45px;
  display: flex;
  /* gap: 20px; */
  align-items: center;
}

.guide-max-card-holder {
  width: auto;
  height: auto;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;

  margin-top: 100px;
  position: relative;
}

.guide-max-card {
  width: 100%;
  height: auto;
  position: relative;
}

.guide-max-brown {
  background-color: #9d7458;
  background-image: url(../assets/images/Home-1-exray-bg.png);
  padding: 20px;
  max-width: 470px;
  max-height: 280px;
  width: 470px;
  height: 280px;
  border-radius: 30px;
  z-index: -1;
  position: absolute;
  top: -30px;
  left: -30px;
}

.guide-max-grey {
  background-color: #404040;
  background-image: url(../assets/images/Home-1-exray-bg.png);
  width: 100%;
  height: 100%;
  max-width: 527px;
  max-height: 420px;
  width: 527px;
  height: 420px;
  border-radius: 30px;

  padding: 74px 80px 74px 60px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 20px;
}

.guide-max-brown-2 {
  background-color: #9d7458;
  background-image: url(../assets/images/Home-1-exray-bg.png);
  padding: 20px;
  max-width: 470px;
  max-height: 280px;
  width: 470px;
  height: 280px;
  border-radius: 30px;
  z-index: -1;
  position: absolute;
  top: -30px;
  right: -30px;
}

.guide-max-grey-2 {
  background-color: #404040;
  background-image: url(../assets/images/Home-1-exray-bg.png);
  width: 100%;
  height: 100%;
  max-width: 527px;
  max-height: 420px;
  width: 527px;
  height: 420px;
  border-radius: 30px;

  padding: 74px 60px 74px 80px;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 20px;
  text-align: right;
}

.guide-max-brown-3 {
  background-color: #9d7458;
  background-image: url(../assets/images/Home-1-exray-bg.png);
  padding: 20px;
  max-width: 470px;
  max-height: 280px;
  width: 470px;
  height: 280px;
  border-radius: 30px;
  z-index: -1;
  position: absolute;
  bottom: -30px;
  left: -30px;
}

.guide-max-grey-3 {
  background-color: #404040;
  background-image: url(../assets/images/Home-1-exray-bg.png);
  width: 100%;
  height: 100%;
  max-width: 527px;
  max-height: 420px;
  width: 527px;
  height: 420px;
  border-radius: 30px;

  padding: 74px 80px 74px 60px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 20px;
}

.guide-max-brown-4 {
  background-color: #9d7458;
  background-image: url(../assets/images/Home-1-exray-bg.png);
  padding: 20px;
  max-width: 470px;
  max-height: 280px;
  width: 470px;
  height: 280px;
  border-radius: 30px;
  z-index: -1;
  position: absolute;
  right: -30px;
  bottom: -30px;
}

.guide-max-grey-4 {
  background-color: #404040;
  background-image: url(../assets/images/Home-1-exray-bg.png);
  width: 100%;
  height: 100%;
  max-width: 527px;
  max-height: 420px;
  width: 527px;
  height: 420px;
  border-radius: 30px;

  padding: 74px 60px 74px 80px;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 20px;
  text-align: right;
}
.switch-texts {
  color: black;
}

.switch-texts.active {
  color: #9d7458;
}

.wdt-advanced-checkbox-toggle {
  margin: 0 20px;
  -webkit-appearance: none;
  appearance: none;
  background-color: #9d7458;
  cursor: pointer;
  width: 80px;
  height: 40px;
  display: block;
  border-radius: 100px;
  position: relative;
}

.wdt-advanced-checkbox-toggle:checked {
  background-color: #dee8de;
}

.wdt-advanced-checkbox-toggle:after {
  content: "";
  position: absolute;
  pointer-events: none;
  top: 5px;
  left: 5px;
  width: 30px;
  height: 30px;
  color: blue;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
  transform: translateX(0);
  transition: 0.3s;
  background-color: white;
}
.wdt-advanced-checkbox-toggle:checked:after {
  transform: translateX(40px);
}
.wdt-advanced-checkbox-toggle:after {
  left: calc(100% - 5px);
  transform: translateX(-100%);
}
.wdt-advanced-checkbox-toggle:checked:after {
  left: 5px;
  transform: translateX(0);
}

.guide-max-title {
  font-weight: 400;
  font-size: 30px;
  color: white;
}
.guide-max-description {
  color: #bdbdbd;
  line-height: 1.7rem;
  font-family: "Lato", serif;
}

.guided-center-circle {
  background-color: #9d7458;
  background-image: url(../assets/images/Home-1-exray-bg.png);
  width: 160px;
  height: 160px;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 22px;
}

.guided-center-holder {
  width: 200px;
  height: 200px;
  position: absolute;
  background: #dee8de;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.curved-holder {
  position: absolute;
  right: 0;
  bottom: 0;
}

.curved-holder-2 {
  position: absolute;
  left: 0;
  bottom: 0;
}

.curved-holder-3 {
  position: absolute;
  right: 0;
  top: 0;
}

.curved-holder-4 {
  position: absolute;
  left: 0;
  top: 0;
}

.curved-shape {
  background-color: #33a9b100;
  width: 50px;
  height: 50px;
  box-shadow: -20px 20px 0px 0px #dee8de inset;
  transform: rotate(90deg);
  border-radius: 20px 20px 20px 20px;
}

.curved-1 {
  position: absolute;
  z-index: 1;
  top: -120px;
  right: -20px;
}

.curved-2 {
  position: absolute;
  background-color: #dee8de00;
  z-index: 1;
  left: -120px;
  top: -30px;
}

.curved-3 {
  box-shadow: -20px -20px 0px 0px #dee8de inset;
  z-index: 1;
  position: absolute;
  top: -120px;
  left: -20px;
}

.curved-4 {
  position: absolute;
  box-shadow: -20px -20px 0px 0px #dee8de inset;
  z-index: 1;
  left: 70px;
  top: -30px;
}

.curved-5 {
  position: absolute;
  box-shadow: 20px 20px 0px 0px #dee8de inset;
  z-index: 1;
  top: -20px;
  left: -119px;
}

.curved-6 {
  position: absolute;
  box-shadow: 20px 20px 0px 0px #dee8de inset;
  z-index: 1;
  left: -30px;
  top: 70px;
}

.curved-7 {
  position: absolute;
  box-shadow: 20px -20px 0px 0px #dee8de inset;
  z-index: 1;
  top: -20px;
  right: -120px;
}

.curved-8 {
  box-shadow: 20px -20px 0px 0px #dee8de inset;
  z-index: 1;
  position: absolute;
  top: 70px;
  left: -20px;
}
