.footer-huge-image-section {
  background-image: url(../assets/images/footer-background.webp);
  height: 700px;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1905px;
}

.huge-logo-section {
  width: 100%;
  height: 560px;
  background-image: url("../assets/images/Home-1-exray-bg.png");
  background-color: #404040;
  display: flex;
  justify-content: center;
  padding: 20px;
  gap: 40px;
}

.footer-section {
  padding: 0;
  flex-direction: column;
}

.footer-logo-huge {
  width: 710px;
}
.footer-form-holder {
    width: 100%;
    height: auto;
    padding: 100px 150px;
    background-color: #9d7458;
    background-image: url("../assets/images/Home-1-exray-bg.png");
    max-width: 860px;
    border-radius: 30px;
    position: absolute;
    top: -190px;
    right: 0;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}
.main-duo-holder {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  /* align-items: center; */
  gap: 40px;
  position: relative;
  max-width: 1850px;
  padding-left: 80px;
}
.footer-cutout-holder {
  width: 100%;
  max-width: 1920px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.footer-cutout {
    width: 920px;
    height: 200px;
    background: #dee8de;
    bottom: 0;
    position: absolute;
    right: 0;
    border-top-left-radius: 30px;
}

.footer-title {
  font-size: 28px;
  color: white;
}
.footer-form-description {
    color: white;
    text-align: center;
    line-height: 1.5rem;
    font-size: 18px;
}
.input-footer {
    width: 100%;
    height: auto;
    padding: 18px 22px;
    border-radius: 50px;
    background: transparent;
    border: 1px solid #afafaf;
    color: #afafaf;
    font-size: 16px;
    font-family: "Lato";
}
.input-footer::placeholder{
    color: #afafaf;
}
.input-footer:focus{
    color: #ffffff;
}
.footer-form-holder form {
    max-width: 350px;
    width: 100%;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.footer-form-holder form select {
    height: auto;
    font-size: 16px;
}
.submit-btn{
    padding: 18px 34px;
    font-size: 16px;
    /* font-family: "Lato", serif; */
    background-color: #9d7458;
    border: none;
    border-radius: 50px;
    color: white;
    width: 100%;
}
.footer-form-bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
}
.or-text{
    color: white;
    font-size: 18px;
}

.contact-icon{
    padding: 10px;
    background-color: white;
    border-radius: 50px;;
}
.contact-icon svg{
    fill: #868d78;
    width: 16px;
}   
.contact-text{
    font-size: 16px;
    color: white;
}
.footer-footer {
    width: 100%;
    justify-content: center;
    gap: 40px;
}